
name: Update readme

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        repo-token: ${{secrets.TOKEN}}
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Run update-readme.py
      working-directory: script
      run: |
        python update-readme.py
    - name: Commit changes
      env:
        GIT_EMAIL: ${{secrets.GIT_EMAIL}}
        GIT_NAME: ${{secrets.GIT_NAME}}
        GITHUB_TOKEN: ${{secrets.TOKEN}}
      run: |
        git config --global user.name $GIT_NAME
        git config --global user.email $GIT_EMAIL
        git add -A
        git commit -am "auto-update README.md"
    - name: Push changes
      run: |
        git push --chmod=+x
